
<!---<app-form></app-form> this is when the form component will be added as a parent component -->
<!--but if you want the app-list to be added as a parent component-->
<!--<app-list></app-list> currently now the folowing parent child combinations have been changed so now we are gonna use a new component-->
<h1>App component</h1>

type here: <input type="text" name="text" [(ngModel)]="title">
<button type="button" (click)="addtitles()">submit!</button>
<input type="checkbox" [(ngModel)]="isdisabled"> <!--while doing this we can able to know ondestroy called-->

<app-header *ngIf="isdisabled" [text]="titles"></app-header>
